/* MOBILE VIEW */


h3 {
		color: $highlight;
		font-size: 1.7em;
	}

.lead {
	font-size: 1.4em;

	span {
		color: $highlight;
	}
}

.call-to-action{ display: none; }

.action {

	.hover { display: none; }

	.hover:first-child { 
		display: block; 

		@media screen and (max-width: 767px) {
			img { width: 100%; padding-bottom: 1em;}

			p { display: none; }
			}

		}

}

.index-main {
	
	.entry-content {
		border: 0;
		padding: 0;
		margin: 0;
	}
}

.hover {
	text-align: center;

	@media screen and (max-width: 767px) {


		p {

			a {

				text-decoration: none;
				font-size: 1.2em;
			}
		}
	}
}


@media screen and (min-width: 768px) {
	
	.headline {
		margin-top: -4.8em;
	}

	.lead { font-size: 1.3em; }

	.action {

		padding-bottom: 3em;
		padding-top: 3em;

		img {
			width: 100%;
			display: block;
		}

		.hover {

			display: block;
			cursor: pointer;

			p {

				text-align: center;
				position: absolute;
				font-size: 1.2em;
				padding-top: 7em;
				top: 0;
				left: 0;
				color: $main;
				background: $body;
				height: 100%;
				width: 100%;
				opacity: 0;
				-webkit-transition: all .3s ;
				-moz-transition: all .3s ;
				-ms-transition: all .3s ;
				-o-transition: all .3s ;
				transition: all .3s ;

				a {

					color: $main;
					text-decoration: none;
					width: 100%;
					height: 100%;

					&:hover {
						color: $main;
					}
				}

				&:hover {
					opacity: 1;
				}
			}

		}


		.description {

			text-align: center;
		}

		.call-to-action {

			text-align: center;
			display: block;

			li {

				color: $main;
				background: $highlight;
				margin-top: -.5em;
				padding: .2em 0;
				font-size: 1.5em;
				font-weight: 300;
				position: relative;
				font-family: $open;


			}
		}
	}
	.index-main {

		padding-top: 1em;
		padding-bottom: 4em;

		.entry-content {

			margin-top: 0;

		}
	}

	.secondary-content {
		border-top: 1px solid $footer;
		padding-top: 4em;


		.image {

			display: block;
			
			p {
				margin-top: 5em;
				position: absolute;
				text-align: center;
				opacity: 0;
				font-size: 1.2em;

				span {
					font-family: "arvoregular", serif;
					color: $highlight;
					font-weight: bold;
				}
			}

			img {
				width: 100%;
				height: 100%;
				cursor: pointer;
			}

			&:hover {

				img {
				opacity: 0;
				}

				p {
					opacity: 1;
				}
			}
		}


	}
}


@media screen and (min-width: 960px) {
	
	.index-focus {

		font-size: 1.5em;
	}
}