/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
.header {
	border-bottom: 2px solid  #f2f2f2;

	.fourcol   { width: 31.491712705%; }  

	.eightcol  { width: 65.74585634900001%; border: 0; }
}

nav ul { margin: 1.5em 0 1em 0; }
