/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {
	font-size: .9em;
	margin-top: 0;
}

@media screen and (min-width: 960px) {

#inner-content {
	max-width: 1030px;
	min-width: 1030px;
}

#main {
	
	margin-top: 0;

	.main-content {

		padding-top: 1em;
		
	}
}

}


/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	max-width: 1140px;
}


.featured-image {
	img {
		width: 100%;
	}
}

.archive-article {
     display:inline-block;
     vertical-align:top;
     width:28%;
     margin:1.25%;
     min-height:190px;

     .entry-content {

     	p {
     		width: 100%;
     		margin-top: 0;
     	}

     	img {
     		
     	}
     }

     .order-button {
     	float: right;
     	margin-top: -1em;
     }
}

/*********************
HEADER STYLES
*********************/

.header {
	text-align: left;
	padding-bottom: 1em;
	background: $white;
	position: relative;
	border: 0;

}

@media screen and (min-width: 768px) and (max-width: 959px) {
	
	#inner-header {
		width: 768px;
	}

	#logo {

		left: 33%;
	}

	.header {

	&:after {
		top: 9.5em;

	}

	}

	nav.ninecol {

		position: absolute;
		padding-top: 7em;
		left: 0;
		width: 100%;


		ul {

			text-align: center;


			li.current-menu-item,
			li.current_page_item {

				a {
				&:before{
				content: "";
				top: 2.1em;
				right: 0;
				position: absolute;
				height: 0.5em;
				width: 100%;
				background: $highlight;
				border-top: 1px dashed $main;
				}
			}
			}

			li {

				a {

					padding-top: 0;

					&:hover {
					&:before{
					content: "";
					top: 2.1em;
					right: 0;
					position: absolute;
					height: 0.5em;
					width: 100%;
					background: $highlight;
					border-top: 1px dashed $main;
			}
			}
				}
			}
		}
	}
}

@media screen and (min-width: 960px) {
#inner-header {
	max-width: 1030px;
	min-width: 1030px;
}

}

#logo {
	

	img {
	display: block;
	}
}

.article-header {
	padding: 4em 0em 0em 0em;
}

.archive-header {
	color: $highlight;
	font-size: 3em;
	text-align: center;
	z-index: 50;
	margin-top: 1em;

}

.intro-body {

	border-top: 1px solid $body;
	margin-top: -2em;
	padding-top: 2em;
}


/*********************
NAVIGATION STYLES
*********************/

nav[role=navigation] {
	input {
		display: none;
	}

	label {
		display: none;
	}
}

#inner-header {
	.eightcol {
		margin-left: 0;
	}

	font-size: 1.1em;
}

.nav {
	border: 0;
	top: 0;
	margin-bottom: 0em;
	text-align: right;
	font-size: .8em;

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
						 {



			a {

				background: $highlight;
				color: $main;
				padding-left: 1em;
				padding-right: 1em;

				&:before{
				content: "";
				top: 5.7em;
				right: 0;
				position: absolute;
				height: 1em;
				width: 100%;
				background: $highlight;
				border-top: 1px dashed $main;
			}
				
			}

	}  /* end current highlighters */

	li {
		display: inline-block;
		position: relative;
		font-size: 1em;
		margin-left: -.3em;
		font-family: $open;
		font-size: 1.1em;


		a {
			border-bottom: 0;
			color: lighten($body, 25%);
			padding-top: 3.7em;
			padding-left: 1em;
			padding-right: 1em;
			

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				background-color: $highlight;
				color: $main;

				&:before{
				content: "";
				top: 5.7em;
				right: 0;
				position: absolute;
				height: 1em;
				width: 100%;
				background: $highlight;
				border-top: 1px dashed $main;
			}
			}
		}

		&:first-child { margin-top: 0;}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			display: none;
			position: absolute;
			z-index: 8999;
			text-align: left;
			background: $highlight;
			font-size: 1.1em;

			li {
				font-size: .8em;
				margin-top: 0;
				margin-left: 0;

				&:hover {
					background: darken($highlight, 5%);
				}

				a {
					border-right: 0;
					display: block;
					width: 12em;
					padding: 0;
					margin: 0;
					background: $highlight;
					color: $main;
					padding-left: 10px;
					
					&:before {

						content: "";
						top: 0;
						left: 0;
						height: 0;
						width: 0;
						position: absolute;
						background: $highlight;
						border: 0;
					}

					&:link {}

					&:hover {
						background: darken($highlight, 5%);
						color: $main;
					}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {
					display: none;
				}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current-page-ancestor {
				background-color: $main;

				a {
					color: $main;
					background: darken($highlight, 5%);
				}

			}
		}

		/* showing sub-menus */
		&:hover ul {
			top: auto;
			display: block;
		}

	} /* end .menu ul li */


	li.current-menu-item {
		ul {
			
		}
	}

} /* end .nav */

ul.top-nav { margin-top: -1.2em; }

.action-buttons {
	position: absolute;
	padding-top: 2em;

	ul {
		li{

			padding: 2em 0; 

			a {
				color: #fff;
				text-decoration: none;
				font-family: $sans-serif;
				font-size: 1.5em;
				padding: .5em 1em;
				background: rgba(68, 68, 68, 0.75);

				&:hover {
					padding-right: 2em;
					background: rgba(68, 68, 68, 0.95);
					-webkit-transition: all .3s ease-in-out;
					-moz-transition: all .3s ease-in-out;
					-ms-transition: all .3s ease-in-out;
					-o-transition: all .3s ease-in-out;
					transition: all .3s ease-in-out;
				}
			}
		}
	}
}

.sub-nav {
		ul {

			li {

				a {
					
				}
			}
		}
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
}

	.widgettitle {
		margin-bottom: 0.75em;
		position: relative;
		text-align: center;


		&:after {
			content: "";
			top: .5em;
			left: 0;
			height: 1px;
			width: 10%;
			background: $body;
			position: absolute;
		}

		&:before {
			content: "";
			top: .5em;
			right: 0;
			height: 1px;
			width: 10%;
			background: $body;
			position: absolute;
		}

	}

@media screen and (min-width: 960px) {
	
	.widgettitle {

		&:before, &:after {

			width: 20%;
		}
	}
}
	.widget {
		padding: 0 10px;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}


	/* links widget */
	.widget_links {}
	.widget_links ul {}
	.widget_links ul li {}
	.widget_links ul li a {}

	/* meta widget */
	.widget_meta {}
	.widget_meta ul {}
	.widget_meta ul li {}
	.widget_meta ul li a {}

	/* pages widget */
	.widget_pages {}
	.widget_pages ul {}
	.widget_pages ul li {}
	.widget_pages ul li a {}

	/* recent-posts widget */
	.widget_recent_entries {}
	.widget_recent_entries ul {}
	.widget_recent_entries ul li {}
	.widget_recent_entries ul li a {}

	/* archives widget */
	.widget_archive {}
	.widget_archive ul {}
	.widget_archive ul li {}
	.widget_archive ul li a {}
	.widget_archive select {}
	.widget_archive option {}

	/* tag-cloud widget */
	.widget_links {}
	.widget_links li:after {}
	.widget_links li:before {}
	.widget_tag_cloud {}
	.widget_tag_cloud a {}
	.widget_tag_cloud a:after {}
	.widget_tag_cloud a:before {}

	/* calendar widget */
	.widget_calendar {}
	#calendar_wrap {}
	#calendar_wrap th {}
	#calendar_wrap td {}
	#wp-calendar tr td {}
	#wp-calendar caption {}
	#wp-calendar a {}
	#wp-calendar #today {}
	#wp-calendar #prev {}
	#wp-calendar #next {}
	#wp-calendar #next a {}
	#wp-calendar #prev a {}

	/* category widget */
	.widget_categories {}
	.widget_categories ul {}
	.widget_categories ul li {}
	.widget_categories ul ul.children {}
	.widget_categories a {}
	.widget_categories select{}
	.widget_categories select#cat {}
	.widget_categories select.postform {}
	.widget_categories option {}
	.widget_categories .level-0 {}
	.widget_categories .level-1 {}
	.widget_categories .level-2 {}
	.widget_categories .level-3 {}

	/* recent-comments widget */
	.recentcomments {}
	#recentcomments {}
	#recentcomments li {}
	#recentcomments li a {}
	.widget_recent_comments {}

	/* search widget */
	#searchform {}
	.widget_search {}
	.screen-reader-text {}

	/* text widget */
	.textwidget {}
	.widget_text {}
	.textwidget p {}


/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/

@media screen and (min-width: 960px) {
.inner-footer {
	max-width: 1030px;
	min-width: 1030px;
}
}
.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */

