/******************************************************************
Site Name: 
Author: 

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
*/
/* import mixins */
/******************************************************************
Site Name:
Author:

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
/* line 23, ../scss/_mixins.scss */
.clearfix {
  zoom: 1;
}
/* line 25, ../scss/_mixins.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 26, ../scss/_mixins.scss */
.clearfix:after {
  clear: both;
}

/*********************
TOOLS
*********************/
/* line 34, ../scss/_mixins.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 41, ../scss/_mixins.scss */
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
/* 	To embed your own fonts, use this syntax
	and place your fonts inside the
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
/*	@font-face {
    	font-family: 'Font Name';
    	src: url('library/fonts/font-name.eot');
    	src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/
/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
/* line 108, ../scss/_mixins.scss */
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

/* line 114, ../scss/_mixins.scss */
.text-left {
  text-align: left;
}

/* line 115, ../scss/_mixins.scss */
.text-center {
  text-align: center;
}

/* line 116, ../scss/_mixins.scss */
.text-right {
  text-align: right;
}

/* line 120, ../scss/_mixins.scss */
.alert-help, .alert-info, .alert-error, .alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
}

/* line 126, ../scss/_mixins.scss */
.alert-help {
  border-color: #e8dc59;
  background: #ebe16f;
}

/* line 132, ../scss/_mixins.scss */
.alert-info {
  border-color: #bfe4f4;
  background: #d5edf8;
}

/* line 138, ../scss/_mixins.scss */
.alert-error {
  border-color: #f8cdce;
  background: #fbe3e4;
}

/* line 144, ../scss/_mixins.scss */
.alert-success {
  border-color: #deeaae;
  background: #e6efc2;
}

/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/*********************
BUTTONS
*********************/
/* line 206, ../scss/_mixins.scss */
.button, .button:visited {
  text-decoration: none;
  background: #a32638;
  color: white;
  padding: .3em .5em;
  border-radius: 3px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .9em;
}
/* line 215, ../scss/_mixins.scss */
.button:hover, .button:visited:hover {
  color: white;
  background: #8e2131;
}

/* line 218, ../scss/_mixins.scss */
.blue-button, .blue-button:visited {
  border-color: #bfbfbf;
  text-shadow: 0 1px 1px #bfbfbf;
  background-color: #cbcbcb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d8d8d8), to(#cbcbcb));
  background-image: -webkit-linear-gradient(top, #d8d8d8, #cbcbcb);
  background-image: -moz-linear-gradient(top, #d8d8d8, #cbcbcb);
  background-image: -o-linear-gradient(top, #d8d8d8, #cbcbcb);
  background-image: linear-gradient(to bottom, #d8d8d8, #cbcbcb);
  box-shadow: inset 0 0 3px white;
}
/* line 224, ../scss/_mixins.scss */
.blue-button:hover, .blue-button:focus, .blue-button:visited:hover, .blue-button:visited:focus {
  border-color: #b2b2b2;
  background-color: #bfbfbf;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cecece), to(#bfbfbf));
  background-image: -webkit-linear-gradient(top, #cecece, #bfbfbf);
  background-image: -moz-linear-gradient(top, #cecece, #bfbfbf);
  background-image: -o-linear-gradient(top, #cecece, #bfbfbf);
  background-image: linear-gradient(to bottom, #cecece, #bfbfbf);
}
/* line 228, ../scss/_mixins.scss */
.blue-button:active, .blue-button:visited:active {
  background-color: #d8d8d8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cbcbcb), to(#d8d8d8));
  background-image: -webkit-linear-gradient(top, #cbcbcb, #d8d8d8);
  background-image: -moz-linear-gradient(top, #cbcbcb, #d8d8d8);
  background-image: -o-linear-gradient(top, #cbcbcb, #d8d8d8);
  background-image: linear-gradient(to bottom, #cbcbcb, #d8d8d8);
}

/******************************************************************
Site Name:
Author:

Stylesheet: Grid Stylesheet

******************************************************************/
/* line 9, ../scss/_grid.scss */
.onecol {
  width: 5.801104972%;
}

/* 4.85%;  } /* grid_1  */
/* line 10, ../scss/_grid.scss */
.twocol {
  width: 14.364640883%;
}

/* 13.45%; } /* grid_2  */
/* line 11, ../scss/_grid.scss */
.threecol {
  width: 22.928176794%;
}

/* 22.05%; } /* grid_3  */
/* line 12, ../scss/_grid.scss */
.fourcol {
  width: 31.491712705%;
}

/* 30.75%; } /* grid_4  */
/* line 13, ../scss/_grid.scss */
.fivecol {
  width: 40.055248616%;
}

/* 39.45%; } /* grid_5  */
/* line 14, ../scss/_grid.scss */
.sixcol {
  width: 48.618784527%;
}

/* 48%;    } /* grid_6  */
/* line 15, ../scss/_grid.scss */
.sevencol {
  width: 57.182320438000005%;
}

/* 56.75%; } /* grid_7  */
/* line 16, ../scss/_grid.scss */
.eightcol {
  width: 65.74585634900001%;
}

/* 65.4%;  } /* grid_8  */
/* line 17, ../scss/_grid.scss */
.ninecol {
  width: 74.30939226%;
}

/* 74.05%; } /* grid_9  */
/* line 18, ../scss/_grid.scss */
.tencol {
  width: 82.87292817100001%;
}

/* 82.7%;  } /* grid_10 */
/* line 19, ../scss/_grid.scss */
.elevencol {
  width: 91.436464082%;
}

/* 91.35%; } /* grid_11 */
/* line 20, ../scss/_grid.scss */
.twelvecol {
  width: 99.999999993%;
}

/* 100%;   } /* grid_12 */
/* line 23, ../scss/_grid.scss */
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
  position: relative;
  float: left;
  margin-left: 2.762430939%;
}

/* line 29, ../scss/_grid.scss */
.first {
  margin-left: 0;
}

/* line 33, ../scss/_grid.scss */
.last {
  float: right;
}

/* line 37, ../scss/_grid.scss */
.center-grid {
  float: none;
  margin: 0 auto;
}

/* line 43, ../scss/_grid.scss */
.push_4, .pull-8 {
  position: relative;
}

/* line 47, ../scss/_grid.scss */
.pull-8 {
  left: -66%;
}

/* line 51, ../scss/_grid.scss */
.push-4 {
  right: 30%;
}

/******************************************************************
Site Name: 
Author: 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
/* line 27, ../scss/_481up.scss */
.menu {
  /* end .menu ul */
}
/* line 28, ../scss/_481up.scss */
.menu ul {
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 29, ../scss/_481up.scss */
.menu ul li {
  /*
  plan your menus and drop-downs wisely.
  */
}
/* line 30, ../scss/_481up.scss */
.menu ul li a {
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}

/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
/* line 75, ../scss/_481up.scss */
.entry-content {
  /* at this larger size, we can start to align images */
}
/* line 79, ../scss/_481up.scss */
.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
/* line 84, ../scss/_481up.scss */
.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
/* line 89, ../scss/_481up.scss */
.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/* line 22, ../scss/_768up.scss */
#container {
  max-width: 1200px;
  margin: 0 auto;
}

/*********************
LAYOUT & GRID STYLES
*********************/
/* line 31, ../scss/_768up.scss */
.wrap {
  max-width: 1140px;
}

/*********************
HEADER STYLES
*********************/
/* line 41, ../scss/_768up.scss */
.header .widget {
  display: block;
  border: 0;
  margin: 0;
}
/* line 46, ../scss/_768up.scss */
.header .widget h4 {
  margin: 0;
}
/* line 48, ../scss/_768up.scss */
.header .widget ul {
  float: right;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 51, ../scss/_768up.scss */
.header .fourcol {
  width: 100%;
  text-align: center;
}
/* line 56, ../scss/_768up.scss */
.header .eightcol {
  width: 100%;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
}
/* line 61, ../scss/_768up.scss */
.header .eightcol .nav {
  text-align: center;
}
/* line 64, ../scss/_768up.scss */
.header .eightcol .nav li {
  display: inline-block;
}

/*********************
NAVIGATION STYLES
*********************/
/* line 75, ../scss/_768up.scss */
.menu-link {
  display: none;
}

/* line 77, ../scss/_768up.scss */
.js nav {
  overflow: visible;
  max-height: none;
}

/* line 84, ../scss/_768up.scss */
nav ul {
  margin: .5em 0;
}

/* line 89, ../scss/_768up.scss */
.nav {
  border: 0;
  display: block;
  /* end .menu ul li */
}
/* line 93, ../scss/_768up.scss */
.nav li {
  position: relative;
  right: 0;
  /*
  plan your menus and drop-downs wisely.
  */
  /* showing sub-menus */
}
/* line 97, ../scss/_768up.scss */
.nav li a {
  border-bottom: 0;
  background: white;
  border-top: 0;
  border-bottom: 0;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}
/* line 105, ../scss/_768up.scss */
.nav li a:hover, .nav li a:focus {
  border-color: #a32638;
}
/* line 119, ../scss/_768up.scss */
.nav li ul.sub-menu,
.nav li ul.children {
  margin-top: 0;
  border: 1px solid #ccc;
  position: absolute;
  display: none;
  z-index: 8999;
  /* highlight sub-menu current page */
}
/* line 126, ../scss/_768up.scss */
.nav li ul.sub-menu li,
.nav li ul.children li {
  /*
  if you need to go deeper, go nuts
  just remember deeper menus suck
  for usability. k, bai.
  */
}
/* line 128, ../scss/_768up.scss */
.nav li ul.sub-menu li a,
.nav li ul.children li a {
  padding-left: 10px;
  border-right: 0;
  display: block;
  width: 180px;
  border-bottom: 1px solid #ccc;
}
/* line 136, ../scss/_768up.scss */
.nav li ul.sub-menu li a:hover, .nav li ul.sub-menu li a:focus,
.nav li ul.children li a:hover,
.nav li ul.children li a:focus {
  background: #eee;
}
/* line 142, ../scss/_768up.scss */
.nav li ul.sub-menu li a:before,
.nav li ul.children li a:before {
  content: "";
}
/* line 151, ../scss/_768up.scss */
.nav li ul.sub-menu li:last-child a,
.nav li ul.children li:last-child a {
  border-bottom: 0;
}
/* line 174, ../scss/_768up.scss */
.nav li:hover ul {
  top: auto;
  display: block;
}
/* line 183, ../scss/_768up.scss */
.nav li.current-menu-item a,
.nav li.current-page-item a {
  border-top: 3px solid #a32638;
  border-bottom: 3px solid #a32638;
}
/* line 189, ../scss/_768up.scss */
.nav li.current-menu-item li a,
.nav li.current-page-item li a {
  border: 0;
}

/* end .nav */
/*********************
SIDEBARS & ASIDES
*********************/
/* line 201, ../scss/_768up.scss */
.sidebar {
  padding-left: 1em;
  border-left: 1px dotted #d8d8d8;
}

/* line 206, ../scss/_768up.scss */
.widgettitle {
  border-bottom: 1px dotted #d8d8d8;
  margin-bottom: 0.75em;
}

/* line 211, ../scss/_768up.scss */
.widget {
  padding: 0 10px;
  padding-bottom: 1em;
  margin: 2.2em 0;
}
/* line 217, ../scss/_768up.scss */
.widget ul li {
  margin-bottom: 0.75em;
  /* deep nesting */
}
/* line 225, ../scss/_768up.scss */
.widget ul li ul {
  margin-top: 0.75em;
  padding-left: 1em;
}

/* links widget */
/* meta widget */
/* pages widget */
/* recent-posts widget */
/* archives widget */
/* tag-cloud widget */
/* calendar widget */
/* category widget */
/* recent-comments widget */
/* search widget */
/* text widget */
/*********************
FOOTER STYLES
*********************/
/* line 326, ../scss/_768up.scss */
.footer {
  max-width: 1200px;
  margin: 0 auto;
}

/***********************
FRONT PAGE STYLES
***********************/
/* line 336, ../scss/_768up.scss */
#featured-images {
  display: block;
  margin-top: 2em;
}

/* line 343, ../scss/_768up.scss */
.featured-image img {
  width: 100%;
  margin-bottom: -0.5em;
}
/* line 348, ../scss/_768up.scss */
.featured-image .call-to-action {
  background: #a32638;
  color: white;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 0;
  text-align: center;
  padding: .5em 0;
  font-size: 1.3em;
}
/* line 357, ../scss/_768up.scss */
.featured-image .call-to-action:hover {
  background: #8e2131;
}
/* line 362, ../scss/_768up.scss */
.featured-image .tagline {
  text-decoration: none;
  color: #777777;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  text-align: center;
}
/* line 371, ../scss/_768up.scss */
.featured-image a:hover {
  text-decoration: none;
}

/************************
RECORDINGS PAGE STYLES
************************/
/* line 379, ../scss/_768up.scss */
.recordings #main {
  padding-bottom: 2em;
}

/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
/* line 11, ../scss/_1030up.scss */
.header {
  border-bottom: 2px solid  #f2f2f2;
}
/* line 14, ../scss/_1030up.scss */
.header .fourcol {
  width: 31.491712705%;
}
/* line 16, ../scss/_1030up.scss */
.header .eightcol {
  width: 65.74585634900001%;
  border: 0;
}

/* line 19, ../scss/_1030up.scss */
nav ul {
  margin: 1.5em 0 1em 0;
}

/* 
you can call the larger styles if you want, but there's really no need 
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
