#content {
	margin-top: 1em;
	padding: 2%;
	font-size: .9em;
}

#main {
		color: $body;
		margin-top: 2em;

	img {
	    max-width: 100%;
	    height: auto;
	}

	h2 {
		padding-bottom: .5em;
	}
}

		.hentry {

			header {}

			footer {}

		} /* end .hentry */

		.single-title,
		.page-title {}

		.single-title {}

		.page-title {

			color: $highlight;
			font-size: 3em;
			text-align: center;
			line-height: 0;

			span { 
				position: relative; 
				display: inline-block;

				&:before,
				&:after {
				  content: "";
				  position: absolute;
				  height: 5px;
				  border-bottom: 1px solid $body;
				  border-top: 1px solid $body;
				  top: 0;
				  width: 350px;
				}
				&:before {
				  right: 100%;
				  margin-right: 15px;
				}
				&:after {
				  left: 100%;
				  margin-left: 15px;
				}
			}

		}

		.article-header {

			h2 {

				@media screen and (min-width: 768px){
				margin-bottom: -1em;
				}
			}

			.pull-quote {
				$pull-quote-fontsize: 1.5 !default;
				$pull-quote-opacity: 0.5 !default;
				$pull-quote-color: $body !default;
				font-family: $serif;
				position: relative;
				padding: context-calc($pull-quote-fontsize, $pull-quote-fontsize, em);
				font-size: 1.5em;
				margin-top: -1em;
				width: 90%;

				&:before,
				&:after {
					height: context-calc($pull-quote-fontsize, 1, em);
					opacity: $pull-quote-opacity;
					position: absolute;
					font-size: $pull-quote-fontsize;
					color: $body;
				}
				&:before {
					content: '“';
					top:  0;
					left: 0;
				}
				&:after {
					content: '”';
					bottom: 0;
					right: 0;
				}
			}
		}
		.archive-title { 
		}

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-recordings {

			.article-header {
				h3 {

					font-size: 1em;
				}
			}
			
			.entry-content {
				border: 0;
				margin: 0;

				img {
					margin: .5em 0em;
				}
			}
		}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: #999;

			time {}
		}

		/* entry content */
		.entry-content {

			padding-top: 2em;

			.definition {
				font-size: $small-print-size;
				line-height: $line-height;
				padding-bottom: 1em;
				text-indent: 0;

			}

			p {

			}


			ul, ol, table, dl {}

			ul, ol {

				li {}

			}

			ul {

				li {}

			}

			ol {

				li {}

			}

			blockquote {

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			video, object {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: #eee;
				border: 1px solid #cecece;
				padding: 10px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

.archive-article, .concert-archive {
	background: lighten($main, 3%);
	-webkit-box-shadow:  0px 0px 5px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:     0px 0px 5px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.3);
	margin: 1em;

	.article-header {
		text-align: center;
		background: $body;
		padding: .5em 0em .01em 0em;

		&:hover {
			background: darken($body, 5%);
		}

	}

	h3 a{
		color: $main;
		font-size: 1.2em;
		padding: 5px;
		font-family: $open;
		font-weight: 300;

		&:hover {
			color: $main;
		}
	}

	.entry-content {
		text-align: center;
	}

}

	.order-box {
		background: darken($main, 10%);
		padding: 1em;
		border-radius: 6px;
		-webkit-box-shadow: inset 0px 0px 3px rgba(50, 50, 50, 0.3);
		-moz-box-shadow:    inset 0px 0px 3px rgba(50, 50, 50, 0.3);
		box-shadow:         inset 0px 0px 3px rgba(50, 50, 50, 0.3);

		@media screen and (min-width: 768px) {
			margin-right: 50%;
		}
	}

.featured {
	border-bottom: 1px solid $body;
	font-size: 1.5em;
	padding-top: 1.5em;
}

.featured-archive {
	.article-header { 
		background: darken($highlight, 10%);
		&:hover {
			background: darken($highlight, 20%);
		}

		a {

			&:hover {
				color: $main;
			}
		}

		}
}

.recordings {
	.tag-list { margin-bottom: 0; }

	.wp-tag-cloud {
		margin-top: 0;

		li { display: inline-block; padding-right: 1em;}
	}
}

.concert-archive {
	margin: 0;
	margin-bottom: 2em;

	.article-header { 
		background: $highlight; 

		&:hover, &:focus {
			background: darken($highlight, 10%);
		}
	}

	.entry-content {
		text-align: left;
		padding: 1em;
	}
}

.more-link {
	color: $white;
	background: $highlight;
	text-decoration: none;
	padding: 10px;
	margin-left: 45%;
	border-radius: 3px;

	&:hover, &:focus {
		background: darken($highlight, 10%);
		color: $white;
	}

	&:visited {
		color: $white;
	}
}