/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #000;
$white:             #fff;

$bones-pink:        #f01d4f;
$bones-blue:        #1990db;

$link-color:        #000;
$link-hover:        darken($link-color, 9%);

$body:				#222222;
$footer:			#e1e1e1;
$header:			$white;
$highlight:			#A32638;
$yellow-highlight:	#FFF600;
$main:				#f3f3f3;

/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
